<div class="container">
  <div class="row">
    <div
      id="main_div"
      (click)="toggleTextBox(1)"
      class="col-lg-4 col-md-6 col-sm-6"
    >
      <input *ngIf="showTextBox" [(ngModel)]="city1" />
      <button
        *ngIf="showTextBox"
        (click)="getgetData()"
        type="button"
        class="btn btn-primary"
      >
        Show Weather
      </button>
      <div *ngIf="!showTextBox">
        <p>City Name: {{ getData.name }}</p>
        <p>Main : {{ getData.main }}</p>
        <p>Temp : {{ getData.temp }}</p>
        <p>Min Temp : {{ getData.mintemp }}</p>
        <p>Max Temp : {{ getData.maxtemp }}</p>
      </div>
    </div>
  </div>
</div>
